<app-page-title></app-page-title>

<div class="flex mt-6">
  <input type="text" class="w-full h-16 px-4 py-2 rounded shadow" placeholder="Type your task" [(ngModel)]="newTask"
    (keydown.enter)="addTask()">
</div>

<div class="flex flex-col mt-6">
  <h2 class="font-bold text-xl">Task List</h2>
  @for (task of taskList; track task) {
    <div class="flex justify-between bg-white w-full h-16 px-4 py-2 rounded shadow items-center mt-2 mb-2 pr-8">
      <p>{{task.title}}</p>
 
    <div class="flex gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 hover: cursor-pointer" (click)="markImportant(task)" 
      [ngClass]="{
        'text-gray-400': !task.important,
        'text-yellow-500': task.important
        }" >
        <path fill-rule="evenodd"
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd" />
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 hover: cursor-pointer" (click)="markComplete(task)" 
      [ngClass]="{
        'text-gray-400': !task.completed,
        'text-green-500': task.completed
        }" 
      >
        <path fill-rule="evenodd"
          d="M16.403 12.652a3 3 0 0 0 0-5.304 3 3 0 0 0-3.75-3.751 3 3 0 0 0-5.305 0 3 3 0 0 0-3.751 3.75 3 3 0 0 0 0 5.305 3 3 0 0 0 3.75 3.751 3 3 0 0 0 5.305 0 3 3 0 0 0 3.751-3.75Zm-2.546-4.46a.75.75 0 0 0-1.214-.883l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
          clip-rule="evenodd" />
      </svg>
    </div>
    </div>
  }
</div>